@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/BF.jpg" height="85%" width="85%" />
    <h1 class="display-4">Bem vindo!, a Black Friday começa dia 26/11. Hoje é: @DateTime.Now</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-12">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Promoções Black Friday</h2>
          <p>Este site foi desenvolvido para te mostrar quais produtos realmente estão com desconto. Clique no botão abaixo para conferir as ofertas.</p>
          <button class="btn btn-outline-secondary" type="button" onclick="alert('Calma, a Black Friday é dia 26/11');">Acessar ofertas!</button>
          <button class="btn btn-outline-secondary" type="button" "><a href="Home/Privacy">Privacidade</a></button>
          @*<a href="Home/Privacy">Privacy</a>*@
        </div>
      </div>
</div>